<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Hello, World!</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div>
  			<h1>Hello, World!</h1>
			<p>I decided that I was going to create a page, then let it speak for itself.</p>
			<p>An edited page so to speak, I wanted to modify this page and get a sense of what I could do.</p>
			<p>Here is a song about saying <a href="https://www.youtube.com/watch?v=2nYjGy_ZUG8">hello to people in the world</a>.</p>
		</div>
	</body>
</html>
